# directory that contains package or private

/.cask/
/.sx/
/auto-save-list/
/anaconda-mode/
/elpa/
/elpa-*/
/eshell/
/image-dired/
/games/
/lspsvr/
/site-lisp/package/
/transient/

# private files

.DS_Store
cookies
/.bookmarks.el
/.historian
/.session
/.uptimes.el
/custom.el
/ido.last
/history
/network-security.data
/org-clock-save.el
/projectile-bookmarks.eld
/recentf
/session.*
/tramp
/url/cache
/var

# temporary files

*.elc
*~
\#*
